{% extends 'staff_template/base_template.html' %}
{% block page_title %}Edit Profile{% endblock %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Profile</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="{% url 'staff_profile_save' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input required type="text" class="form-control" id="exampleInputEmail1" value="{{ user.username }}" disabled="disabled" name="username">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input required type="email" class="form-control" id="exampleInputEmail1" value="{{ user.email }}" disabled="disabled" name="email">
                            </div>
                            <div class="form-group">
                                <label>First name</label>
                                <input required type="text" class="form-control" id="exampleInputEmail1" value="{{ user.first_name }}" name="first_name">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input required type="text" class="form-control" id="exampleInputEmail1" value="{{ user.last_name }}" name="last_name">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input required type="text" class="form-control" id="exampleInputEmail1" value="{{ staff.address }}" name="address">
                            </div>
                            <div class="form-group">
                                <label>Change password</label>
                                <input required type="password" class="form-control" id="exampleInputEmail1" name="password" placeholder="Fill only when you want to change the password ">
                            </div>
                            <div class="from-group">
                                <!-- /.col -->
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success" style="margin-top: 10px;text-align: center;">{{ message }}</div>
                                {% elif message.tags == 'error' %}
                                <div class="alert alert-danger" style="margin-top: 10px;text-align: center;">{{ message }}</div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Save profile</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}